-- Migração 004: Atualização de Status e Tabela de Logística
ALTER TABLE orcamentos MODIFY COLUMN status ENUM('Rascunho', 'Enviado', 'Aguardando Aprovação', 'Aprovado', 'Recusado', 'Cancelado', 'Finalizado') DEFAULT 'Rascunho';

CREATE TABLE IF NOT EXISTS movimentacoes_logistica (
    id INT AUTO_INCREMENT PRIMARY KEY,
    orcamento_id INT NOT NULL,
    equipamento_id INT NOT NULL,
    tipo ENUM('SAIDA', 'ENTRADA') NOT NULL,
    quantidade INT NOT NULL,
    usuario_id INT,
    data_movimentacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (orcamento_id) REFERENCES orcamentos (id) ON DELETE CASCADE,
    FOREIGN KEY (equipamento_id) REFERENCES equipamentos (id) ON DELETE CASCADE,
    FOREIGN KEY (usuario_id) REFERENCES usuarios (id) ON DELETE SET NULL
) ENGINE = InnoDB;
